*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
}
.m_branch1{
    background: url("../img/face_bg.png");
    background-size: 100% 100%;
    background-position:center;
    background-repeat:no-repeat ;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.m_1{
    height: 10%;
    width: 100%;
    /*border: 1px solid red;*/
}
.icon-shouye{
    color: #388db3;
    cursor: pointer;
}
.icon-shouye:hover{
    color: #834839;
}

.icon-tuichu{
    margin-right: 30px;
    color: #834839;
    cursor: pointer;
}
.icon-tuichu:hover{
    color: red;
}
.m_2{
    height: 10%;
    /*border: 1px solid red;*/
    overflow: hidden;
    color: white;
}
.m_text,.m_3,.m_f{
    float: right;
    /*border: 1px solid red;*/
    width: 33.2%;
}

.m_3{
    text-align: center;
    margin-top: 30px;
}
.p1{
    margin-right: 20px;
    font-size: 24px;
    font-weight: bolder;
}
.m_f{
    margin-top: 60px;
    overflow: hidden;
}
.m_text{
    height: 100%;
    overflow: hidden;
}
.m_text>div{
    float: right;
    /*border: 1px solid red;*/
    height: 100%;
    margin-right: 10%;
}
.m_text a>span{
    font-size: 24px;
    cursor: pointer;
}
.p2{
    height: 50%;
    line-height: 50px;
}
.p3{
    height: 50%;
    line-height: 50px;
}
.m_f>a{
    margin-left: 5%;
    font-weight: bolder;
    color: #4fc7de;
}
.m_4{
    width: 100%;
    height: 7%;
    /*border: 1px solid red;*/
    font-weight: bolder;
    text-align: center;
    overflow: hidden;
}
.m_4_1{
    width: 93%;
    height: 100%;
    /*border: 1px solid red;*/
    margin: auto;
}
.m_div_1,.m_div_2,.m_div_3{
    height: 50%;
    width: 150px;
    /*border: 1px solid red;*/
    float: left;
    margin-top: 35px;
    line-height: 35px;
    color: white;
    cursor: pointer;
}
.m_div_2{
    margin-left: 10px;
}
.m_div_3{
    margin-left: 10px;
}
.m_5{
    width: 100%;
    height: 82%;
    /*border: 1px solid red;*/
}
.m_5_1{
    width: 93%;
    height: 95%;
    margin: auto;
    /*border: 1px solid red;*/
}
.m_5_z,.m_5_f{
    float: left;
}
.m_5_z{
    width: 59%;
    height: 94%;
    border: 1px solid red;
    margin: 25px;
}
.m_5_f{
    width: 37.5%;
    height: 94%;
    margin-top: 25px;
    /*border: 1px solid red;*/
}
.m_5_f_1{
    width: 80%;
    height: 93%;
    /*border: 1px solid red;*/
    float: right;
    margin-top: 7%;
    margin-right: 40px;
}
.m_5_box1{
    width: 100%;
    height: 7%;
    /*border: 1px solid red;*/
    line-height: 50px;
    color: #04a3fe;
    font-weight: bolder;
}
.m_5_box2{
    width: 100%;
    height: 60%;
    border: 1px solid red;
}
.m_5_box3{
    width: 100%;
    height: 20%;
    /*border: 1px solid red;*/
}
.m_5_box4{
    width: 100%;
    height: 20%;
    /*border: 1px solid red;*/
    margin-top: 17%;
}
.m_5_box2>div{
    float: left;
    width: 45%;
    height: 90%;
    border: 1px solid #0077d2;
    overflow: hidden;
    margin-left: 3%;
    margin-top: 2%;
}
.m_5_box3>p{
    padding: 10px;
    color: #0085eb;
}
.m_5_box4>p{
    padding: 10px;
    color: #0085eb;
}
.m_span1{
    margin-left: 60px;
}
.m_span2{
    margin-left: 60px;
}
.m_span3{
    margin-left: 60px;
}
.m_span4{
    margin-left: 60px;
}
.m_span5{
    margin-left: 60px;
}
.m_div_4>input{
    background: #00172c;
    border: 1px solid #04a3fe;
    height: 28px;
    color: white;
}
.c{
    color: #04a3fe;
}
.m_div_4{
    margin-top: 30px;
    color: #005596;
    float: left;
    /*border: 1px solid red;*/
}