@charset "utf-8";

/*---------程序员可自行修改皮肤------------------*/
body{font-size:14px;color:#333}

/*全站默认字体颜色*/
a{color:#333}
a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.fl{float:left;}
.fr{float:right;}
.bg-1{background-color:#f5fafe}

/*头部颜色*/
.Hui-aside{background-color:#43a9ff;}

/*侧边栏*/
.Hui-logo,.Hui-logo-m{color:#fff}

/*logo文字颜色*/
.Hui-logo:hover,.Hui-logo-m:hover{color:#fff;text-decoration:none}
#Hui-nav li a{color:#999}

/*导航高亮状态*/
.menu_dropdown dt{color:#fff;border-bottom:1px solid rgba(255,255,255,0.1)}

/*左侧二级导航菜单*/
.menu_dropdown li a{color:#fff;border-bottom:1px solid #222}
.menu_dropdown li a:hover{color:#fff;background-color:#777}
.menu_dropdown li.current a,.menu_dropdown li.current a:hover{background:#777}

/*--------------------H-uiAdmin-------------------------*/
html{height:100%}
body{min-height:100%;position:relative}
a{color:#333}
a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
h4{line-height:30px}

/*页面框架*/
.Hui-aside{position:absolute;top:70px;bottom:0;left:0;width:70px;z-index:101;float:left;}
.Hui-aside,.Hui-article-box,.dislpayArrow{-moz-transition:all 0.2s ease 0s;-webkit-transition:all 0.2s ease 0s;-ms-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s}
.Hui-article-box{position:absolute;top:70px;right:0;bottom:0;left:230px;z-index:123;min-width:1190px;/*margin-left: 160px;*/background: #EEEEEE;margin: 0 auto;width: 100%;}
/*左侧菜单*/
.menu_dropdown dl{margin-bottom:0;}
.menu_dropdown dt{display:block;padding-top:45px;cursor:pointer;height:30px;font-size:12px;text-align:center;}
.menu_dropdown dt b{position:absolute;display:block;background:url(../../images/icon_jt2.png) no-repeat 0 -6px;font-size:0;height:5px;right:15px;line-height:0;overflow:hidden;top:50%;width:9px;margin-top:-3px;transition-duration:0.3s;transition-property:all}
.menu_dropdown dd{width:160px;height:100%;position:absolute;left:70px;top:0px;z-index:999;background:#eaeaea;}
.menu_dropdown dt.selected b{transform:rotate(180deg);transition-duration:0.3s;transition-property:all;_background-position:0 0}
.menu_dropdown dd.selected{display:block;margin-left:0px}
.menu_dropdown ul{padding:0px}
.menu_dropdown li{overflow:hidden;zoom:1;}
.menu_dropdown li a i{font-weight:normal;}
.menu_dropdown dd li a{line-height:40px;padding-left:15px;border-bottom:none;font-weight:normal;color:#333;display:block;background:url(../../images/img/dotlis.png) no-repeat 120px center}
.menu_dropdown li a:hover{text-decoration:none;background:#fff url(../../images/img/dotlis.png) no-repeat 120px center;color:#5a98de;}
.menu_dropdown li a.on{text-decoration:none;background:#fff url(../../images/img/dotlis02.png) no-repeat 120px center;color:#5a98de;}
/*隐藏+*/
.menu_dropdown dd li span{line-height:40px;padding-left:30px;border-bottom:none;font-weight:normal;color:#333;display:block;background:url(../../images/img/dotlis.png) no-repeat 10px center;cursor:pointer;}
/*显示-*/
.menu_dropdown li span.down{text-decoration:none;background:url(../../images/img/dotlis02.png) no-repeat 10px center;color:#5a98de;}

.downnav{padding:5px 0;display:none;}
.downnav a{padding-left:40px!important;background:none!important;font-size:12px;}
.downnav a:hover,.downnav a.on{background:#fff!important;}
.menu_dropdown dt:hover,.menu_dropdown dt.on{background:#fff;color:#5a98de;}
.menu_dropdown dt.leftIcon01{background:url(../../images/img/leftIcon01.png) no-repeat center 10px;background-size:30px 30px;}
.menu_dropdown dt.leftIcon02{background:url(../../images/img/leftIcon02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon03{background:url(../../images/img/leftIcon03.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon04{background:url(../../images/img/leftIcon04.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon05{background:url(../../images/img/leftIcon05.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon06{background:url(../../images/img/leftIcon06.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon07{background:url(../../images/img/leftIcon07.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon08{background:url(../../images/img/leftIcon08.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon09{background:url(../../images/img/leftIcon09.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon10{background:url(../../images/img/leftIcon10.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon01:hover{background:#fff  url(../../images/img/leftIcon01_02.png) no-repeat center 10px;background-size:30px 30px;}
.menu_dropdown dt.leftIcon02:hover{background:#fff url(../../images/img/leftIcon02_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon03:hover{background:#fff url(../../images/img/leftIcon03_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon04:hover{background:#fff url(../../images/img/leftIcon04_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon05:hover{background:#fff url(../../images/img/leftIcon05_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon06:hover{background:#fff url(../../images/img/leftIcon06_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon07:hover{background:#fff url(../../images/img/leftIcon07_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon08:hover{background:#fff url(../../images/img/leftIcon08_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon09:hover{background:#fff url(../../images/img/leftIcon09_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon10:hover{background:#fff url(../../images/img/leftIcon10_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon01.on{background:#fff url(../../images/img/leftIcon01_02.png) no-repeat center 10px; background-size:30px 30px;}
.menu_dropdown dt.leftIcon02.on{background:#fff url(../../images/img/leftIcon02_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon03.on{background:#fff url(../../images/img/leftIcon03_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon04.on{background:#fff url(../../images/img/leftIcon04_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon05.on{background:#fff url(../../images/img/leftIcon05_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon06.on{background:#fff url(../../images/img/leftIcon06_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon07.on{background:#fff url(../../images/img/leftIcon07_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon08.on{background:#fff url(../../images/img/leftIcon08_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon09.on{background:#fff url(../../images/img/leftIcon09_02.png) no-repeat center 10px;}
.menu_dropdown dt.leftIcon10.on{background:#fff url(../../images/img/leftIcon10_02.png) no-repeat center 10px;}
.menu_dropdown dt.on{position:relative;}
/*自做三角*/
.menu_dropdown dt.on:after{display:block;content:'';position:absolute;top:27px;right:0;width:0px;height:0px;border:10px solid transparent;border-right-color:#eaeaea;}

/*左侧背景*/
.left_bg{width:158px;position:absolute;left:70px;top:70px;bottom:0;background:#eaeaea;z-index:10;box-shadow:0 0 5px rgba(181,172,172,0.5);}


/*菜单显示隐藏 中间按钮*/
.left-show-hide{height:172px;width:20px;position:absolute;top:329px;left:0;cursor:pointer;z-index:125;}
.left-hide{background:url(../../images/show_hide.png) no-repeat -16px center;}
.left-show{background:url(../../images/show_hide.png) no-repeat -85px center;}





/*当前项目*/
.wanTop{background:rgb(42,87,154);height:70px;left:230px;right:0;position:absolute;z-index:130;min-width:1190px;}
.wanTop form{display:block;}
.wanTop form select{color:#fff;background:#2e2c2e;border:none;float:left;padding:0 10px;height:70px;line-height:70px;font-size:18px;cursor:pointer;}
.wanTop form select:focus{outline:none;}
.wanSeachbox{position:absolute;left:93px;height:70px;width:450px;box-sizing:border-box;}
.wanSeachbox input{height:40px;line-height:40px;padding-left:10px;border:1px solid #eee;width:100%;font-size:16px;color:#666;margin-top:14px;border-radius:3px;}
.wanSch{width:70px;height:70px;background:url(../../images/sch.png) no-repeat center center;position:absolute;top:0;right:-24px;border:none;cursor:pointer;}



/*头部搜索再次改版*/
.search-new{overflow:hidden;margin-bottom:10px;}

.search-wrapper{min-width:1190px;}
.search-wrapper li{display:block;min-width:120px;padding-right:30px;padding-left:10px;float:left;margin-bottom:10px;}
.search-wrapper li .sp1,.search-wrapper li .sp2{display:block;float:left;/*  line-height:31px; */}
.search-wrapper li .sp1{height:31px;line-height:31px;padding-right:4px;}
.search-wrapper li .sp2 input[type=text],.search-wrapper li .sp2 select{border:0;height:31px;line-height:31px;width:120px;padding:0 5px;border:1px solid #ddd;box-sizing:border-box;}
.search-wrapper li .sp2 input[type=text].Wdate{height:31px;line-height:31px;}
.search-wrapper li .btn{margin-right:10px;}
.search-new .search-wrapper li{padding-right:0;}
.text-c th{background-color:#F2F2F2;background:-webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%);background:-moz-linear-gradient(top,#ffffff 0,#F2F2F2 100%);background:-o-linear-gradient(top,#ffffff 0,#F2F2F2 100%);background:linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);background-repeat:repeat-x;}
table .text-c td .btn{padding:0 2px;height:17px;background:none;border:none;color:#3bb4f2;}
table .text-c td .btn:hover{text-decoration:underline;}
.line-h31{line-height:31px;}

/*头部模拟选择下拉框*/
.myselect-box{width:82px;position:absolute;left:0;}
.select-cur{cursor:pointer;padding:0 10px;height:70px;line-height:70px;color:#fff;font-size:18px;border-radius:3px;position:relative;}
.select-cur:after{display:block;content:'';position:absolute;top:33px;right:10px;width:0px;height:0px;border:6px solid transparent;border-top-color:#fff;}
.select-cur.click,.select-cur:hover{color:#78a71b;font-weight:400;}
.select-cur.click:after{border-bottom-color:#78a71b;border-top:0;}
.select-cur:hover:after{border-top-color:#78a71b;}
.myselect-box ul{display:none;position:absolute;top:70px;left:0;right:-82px;box-shadow:0 0 10px rgba(169,162,162,0.5);border-top:0;background:#fff;}
.select-cur.click:before{display:block;content:'';position:absolute;bottom:0;left:20px;width:0px;height:0px;border:8px solid transparent;border-bottom-color:#fff;}
.myselect-box ul li{cursor:pointer;padding:0 10px;height:37px;border-bottom:1px dashed #dedede;line-height:37px;color:#333;}
.myselect-box ul li:last-child{border-bottom:none;}
.myselect-box ul li:hover,.myselect-box ul li.myselect{color:#78a71b;font-weight:400;background:#f5f5f5;}
.select-box-select{display:none;}

/*主体内容*/
.Hui-article-box #Hui-tabNav .Hui-tabNav-wp .acrossTab .active span
{display: inline-block;width: 60px;height: 20px;border:1px solid #0066CC;line-height: 20px;text-align: center;font-size: 14px;margin:10px 0 0 10px;cursor: pointer;}
