*{
    margin: 0;
    padding: 0;
    color: #fff;
}
a{text-decoration: none;color:#fff}
html,body{height: 100%}
.background{
    padding-top: 10%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: url("bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.login_box{
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.3);
    margin: auto;
    border-radius: 10px;
}
.login_box div{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.logo{
    width: 180px;
    height: 100px;
}
.title{
    font-size: 26px;
    color: #fff;
    line-height: 100px !important;
}
.user_name,.user_password{
    outline: none;
    width: 350px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    color: #000;
}
.img{
    width: 120px;
    height: 40px;
    margin: 0 10px;
}
.captcha{
    outline: none;
    width: 130px;
    padding: 10px 20px;
    color: #000;
}
.remenber{margin-left: 55px}
.login_btn{
    cursor: pointer;
    width: 390px;
    color: #fff;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 5px;
    background:  rgba(40,100,168,0.8);
}
.login_btn:hover{background:  rgb(40,100,168);}
.check>img,.check>a{
    position: relative;
    top:15px;
}